<table class="modal-table">
    <thead>
        <tr>
            <th colSpan="2">DATOS GENERALES</th>
        </tr>
    </thead>
    <tbody>
        <tr class="">
            <td><label for="textInput">Paciente:</label></td>
            <td class="pt-3"> <input type="text" id="textInput"
                    class="form-modal"placeholder="Juana Perez" /></td>
        </tr>
        <tr class="">
            <td><label for="textInput">Documento de Identidad:</label></td>
            <td class="pt-3"> <input type="text" id="textInput"
                    class="form-modal"placeholder="Text input" /></td>
        </tr>
        <tr class="">
            <td><label for="textInput">Teléfono:</label></td>
            <td class="pt-3"> <input type="text" id="textInput"
                    class="form-modal"placeholder="Text input" /></td>
        </tr>
        <tr class="">
            <td><label for="textInput">Grupo:</label></td>
            <td class="pt-3">
                <select class="browser-default custom-select mb-4"
                    id="select">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                </select>
            </td>
        </tr>
        <tr class="">
            <td><label for="textInput">Factor de riesgo:</label></td>
            <td class="pt-3">
                <select class="browser-default custom-select mb-4"
                    id="select">
                    <option value="1">SI</option>
                    <option value="0">No</option>
                </select>
            </td>
        </tr>
        <tr class="">
            <td><label for="textInput">Tipo Bandeja:</label></td>
            <td class="pt-3"> <input type="text" id="textInput"
                    class="form-modal"placeholder="Urgencias" /></td>
        </tr>
        <tr>
            <td><label for="inputMDEx">Fecha de inicio de sintómas:</label></td>
            <td><input type="date" id="inputMDEx" class="form-modal" /></td>
        </tr>
        <tr class="">
            <td><label for="textInput">Día de seguimiento</label></td>
            <td class="pt-3"> <input type="text" id="textInput"
                    class="form-modal"placeholder="5" /></td>
        </tr>
        <tr class="">
            <td><label for="textInput">Resultado de prueba rápida:</label></td>
            <td class="pt-3">
                <select class="browser-default custom-select mb-4"
                    id="select">
                    <option value="1">Positivo</option>
                    <option value="0">Negativo</option>
                </select>
            </td>
        </tr>
        <tr class="">
            <td><label for="textInput">Resultado de prueba molecular:</label></td>
            <td class="pt-3">
                <select class="browser-default custom-select mb-4"
                    id="select">
                    <option value="1">Positivo</option>
                    <option value="0">Negativo</option>
                </select>
            </td>
        </tr>
        <tr class="">
            <td>
                <button class="btn-call" type="">CLICK PARA LLAMAR</button>
            </td>
        </tr>
        <tr>
            <th colSpan="2">SINTOMAS</th>
        </tr>
        <tr class="">
            <td><label class="" for="textInput">Fiebre:</label></td>
            <td class=""><button class="btn-count mr-3" type="">+1</button><label
                    for="textInput">2</label></td>
        </tr>
        <tr class="">
            <td><label for="textInput">Dificultad para respirar:</label></td>
            <td><button class="btn-count mr-3" type="">+1</button><label
                    for="textInput">2</label></td>
        </tr>
        <tr class="">
            <td><label for="textInput">Dolor de pecho:</label></td>
            <td><button class="btn-count mr-3" type="">+1</button><label
                    for="textInput">2</label></td>
        </tr>
        <tr class="">
            <td><label for="textInput">Alteración del sensorio:</label></td>
            <td><button class="btn-count mr-3" type="">+1</button><label
                    for="textInput">2</label></td>
        </tr>
        <tr class="">
            <td><label for="textInput">Coloración azul (labios):</label></td>
            <td><button class="btn-count mr-3" type="">+1</button><label
                    for="textInput">2</label></td>
        </tr>
        <tr class="">
            <td><label for="textInput">Tos:</label></td>
            <td><button class="btn-count mr-3" type="">+1</button><label
                    for="textInput">2</label></td>
        </tr>
        <tr class="">
            <td><label for="textInput">Dolor de garganta:</label></td>
            <td><button class="btn-count mr-3" type="">+1</button><label
                    for="textInput">2</label></td>
        </tr>
        <tr class="">
            <td><label for="textInput">Congestión nasal:</label></td>
            <td><button class="btn-count mr-3" type="">+1</button><label
                    for="textInput">2</label></td>
        </tr>
        <tr class="">
            <td><label for="textInput">Malestar general:</label></td>
            <td><button class="btn-count mr-3" type="">+1</button><label
                    for="textInput">2</label></td>
        </tr>
        <tr class="">
            <td><label for="textInput">Cefálea:</label></td>
            <td><button class="btn-count mr-3" type="">+1</button><label
                    for="textInput">2</label></td>
        </tr>
        <tr class="">
            <td><label for="textInput">Nauseas/Vómitos:</label></td>
            <td><button class="btn-count mr-3" type="">+1</button><label
                    for="textInput">2</label></td>
        </tr>
        <tr class="">
            <td><label for="textInput">Diarrea:</label></td>
            <td><button class="btn-count mr-3" type="">+1</button><label
                    htmlfor="textInput">2</label></td>
        </tr>
        <tr class="">
            <td>
                <label for="textarea">Comentarios:</label>
            </td>
        </tr>
        <tr>
            <td colSpan="2" class="comment">
                <textarea id="textarea" class="" placeholder="Textarea"></textarea>
            </td>
        </tr>
    </tbody>
</table>