<br>
<br>
<center>
  <h1>Gracias por tu respuesta {{ nombre }}. Te dejamos algunos enlaces que pueden ser de interés, vuelve a whatsapp para poder visualizarlos.</h1>
  <br>
  <a class="btn btn-primary" href="https://wa.me/51949429546?text=Iniciar%20encuesta%20inicial"> Ir a Whatsapp</a>
</center>