<br>
<br>
<center>
  <h1>Gracias {{ nombre }}, ya puedes regresar a whatsapp para tu monitoreo.
  </h1>
  <br>
  <p><i>Descargue aquí su consentimiento para la atención por telemonitoreo <a download="Consentimiento" href="/report/terms/{{ numberDocument }}/pdf">Descargar consentimiento</a>.</i></p>
  <br>
  <a class="btn btn-primary" href="https://wa.me/51949429546?text=Iniciar%20encuesta%20inicial"> Ir a Whatsapp</a>
</center>