<br>
<br>
<center>
  <h1>Gracias {{ nombre }}, ya puedes regresar al Whatsapp para tu monitoreo.</h1>
  <a class="btn btn-primary" href="https://wa.me/917834811114?text=Iniciar%20encuesta%20inicial"> Ir a Whatsapp</a>
</center>