<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap 5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

    <!-- Jquery 3.5.1 -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- link fontawesome -->
    <script src="https://kit.fontawesome.com/28012698d4.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/loader.css">
    <script src="/js/verificacion.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JDQ2F45F2T"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-JDQ2F45F2T');
        </script>

    <title>{{title}}</title>
</head>
<body>
    <section class="loaderWeb">
        <div id="contenedor">
            <div class="loader" id="loader">Loading</div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="hidden-xs d-none d-md-block col-md-1 col-lg-2">&nbsp;</div>
            <div class="col-xs-12 col-md-10 col-lg-8 main-container">
                <div class="col-md-12">
					<div class="text-center main-title">
						<h1>Confirmación de número de contacto</h1>
					</div>
					<div class="main-description text-center">
                        <p>Esto permite verificar que podemos contactarte en el número indicado.</p>
						<p>Se acaba de enviar un mensaje de texto con un código de verificación de 6 dígitos al {{ phoneHint }}</p>
					</div>
				</div>

                <div class="col-md-12 main-form">
                    <form action="" class="row" id="form-verificacion">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="token">Ingrese el codigo:</label>
                                <input type="text" name="token" id="token" class="form-control" maxlength="6" required>
                                <div class="invalid-feedback message-error">El token ingresado no es valido.</div>
                            </div>
                        </div>
                        
                        <div class="col-md-12">
                            <div class="form-group form-button">
                                <button class="btn btnEnviar">Enviar</button>
                            </div>
                        </div>
                    </form>

                    
                    <!-- Modal -->
                    <div class="modal fade" id="modal-error" tabindex="-1" role="dialog" aria-labelledby="modal-error" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Fuera de servicios</h5>
                            </div>
                            <div class="modal-body">
                                Lo sentimos pero en estos momentos no podemos ayudarde, por favor intente mas tarde.
                            </div>
                        </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="modal-error-custom" tabindex="-1" role="dialog" aria-labelledby="modal-error" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Formulario erroneo</h5>
                            </div>
                            <div class="modal-body" id="modal-error-custom-content">
                                
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="hidden-xs d-none d-md-block col-md-1 col-lg-2">&nbsp;</div>
        </div>
    </div>

    
</body>
</html>